* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input,
button {
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
}

ul {
  list-style: none;
}

main {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #2e8b57, #a8d5ba);
}

.tracker {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

h1 {
  margin: 30px 0;
  text-align: center;
  font-size: 2.4rem;
  color: #333;
}

.tracker-balance {
  padding: 30px;
  background: linear-gradient(135deg, #a8d5ba, #6b8e23);
  border-radius: 15px;
  text-align: center;
}

.tracker-balance h3 {
  font-size: 1.3rem;
  color: #333;
}

.balance {
  margin: 20px 0;
  font-size: 3.5rem;
  font-weight: 600;
  color: #333;
}

.in-out {
  display: flex;
  align-items: center;
  gap: 20px;
}

.in-out>div {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.in-out>div:hover {
  transform: translateY(-2px);
}

.title {
  display: block;
  margin: 10px 0;
  font-size: 1.3rem
}

.num {
  font-size: 1.8rem;
  font-weight: 600;
}

.income span {
  color: #059669;
}

.expense span {
  color: #dc2626;
}

.tracker-info {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.tracker-info>div,
.tracker-info .form {
  flex: 1;
  height: 350px;
}

.tracker-info>div {
  overflow-x: hidden;
}

.transactions h3,
.form h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: normal;
  color: #333;
}

li {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-right: 5px solid #059669;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  font-size: 20px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.transaction.exp {
  border-color: #dc2626;
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.del {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-left: 10px;
  background-color: lightpink;
  color: #dc2626;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
}

li:hover .del {
  visibility: visible;
}

.form {
  padding: 20px;
  background-color: #f6f8fb;
  border-radius: 15px;
}

.form >div {
  margin-bottom: 20px;
}

.form div label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.form input {
  display: block;
  width: 100%;
  border: 2px solid #ddd;
}

.form div span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #777;
}

.form button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  background-color: #059669;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover {
  transform: translateY(-3px);
}

@media (max-width: 900px) {
  .tracker-info {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .in-out {
    flex-direction: column;
  }

  .in-out>div {
    width: 100%;
  }
}